<table
  mat-table
  #detailsTable="matTable"
  [dataSource]="dataSource"
  matSort
  #detailsSort="matSort"
  *ngIf="dataSource.data.length > 0"
  class="full-width"
  style="max-height: calc(100% - 200px);"
>
  <ng-container matColumnDef="eventDateTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "Event Date" | translate }}
    </th>
    <td mat-cell *matCellDef="let data">
      {{ data?.eventDateTime | loxamDate: "longDateTime"
      }}<span *ngIf="!data?.eventDateTime">{{
        "Users Not Logged In" | translate
      }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="pageName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "Page Name" | translate }}
    </th>
    <td mat-cell *matCellDef="let data">{{ data?.pageName }}</td>
  </ng-container>

  <ng-container matColumnDef="siteId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "Site ID" | translate }}
    </th>
    <td mat-cell *matCellDef="let data">{{ data?.siteId }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>

<mat-paginator
  #paginator
  *ngIf="dataSource.data.length > 0"
  [pageSize]="50"
  [pageSizeOptions]="[50, 100, 200]"
>
</mat-paginator>
