.footer {
  width: calc(100% + 1.6rem);
  background-color: #bbbbbb;
  color: #444444;
  cursor: pointer;
  bottom: 0;
  text-align: center;
  z-index: 1000;
  margin-left: -1.6rem;
  flex: 0 0 50px;
  margin-top: auto;
  font-size: 1rem;
  padding: 0.8rem;

  &.ie {
    position: fixed;
  }
}
