table {
  width: 100%;
  font-size: 2rem;
}

th {
  font-size: 1.6rem;
}

td {
  font-size: 1.2rem;
}

tr {
  cursor: pointer;
}

tr:hover {
  background-color: #e7e8e9;
}

th {
  color: rgba(0, 0, 0, 0.54);
}

mat-card {
  height: 100%;
}
