<div class="container centered">
  <form
    #changePasswordForm="ngForm"
    (ngSubmit)="onSubmit(changePasswordForm)"
    class="form"
  >
    <h2>{{ "Change Password" | translate }}</h2>
    <loxam-form-error [errorMessage]="errorMessage"></loxam-form-error>

    <div class="margin-y inline-block">{{ changePassword.email }}</div>

    <loxam-password
      name="oldPassword"
      friendly-name="Current password"
      placeholder="{{ 'Current password' | translate }}"
      [(ngModel)]="changePassword.oldPassword"
      (onObscurityChanged)="onObscurityChanged($event)"
      class="margin-y"
    >
    </loxam-password>

    <loxam-password
      name="newPassword"
      friendly-name="New password"
      placeholder="{{ 'New password' | translate }}"
      [(ngModel)]="changePassword.newPassword"
      [showObscurityToggle]="false"
      [obscurred]="obscurred"
      class="margin-y"
    >
    </loxam-password>

    <loxam-password
      name="confirmPassword"
      friendly-name="Confirmation password"
      placeholder="{{ 'Confirm new password' | translate }}"
      [(ngModel)]="changePassword.confirmPassword"
      [showObscurityToggle]="false"
      [obscurred]="obscurred"
      class="margin-y"
    >
    </loxam-password>

    <div class="form-buttons margin-y">
      <button
        mat-flat-button
        color="primary"
        [disabled]="disableSubmit(changePasswordForm)"
        class="margin-right"
        type="submit"
      >
        {{ "Change Password" | translate }}
      </button>

      <button mat-button class="right" (click)="goBack()" type="button">
        {{ "Cancel" | translate }}
      </button>
    </div>
  </form>
</div>
