.wrapper {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 6.4rem;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  &.ie {
    padding-right: calc(50% - 3rem);
  }
}

.spinner {
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
