.form-error {
  margin-bottom: 3.2rem;
  display: flex;
  align-items: stretch;
}

.error-icon {
  background-color: #ce122d;
  color: white;
  padding: 1.6rem 2.2rem;
  flex-grow: 0;
}

.error-text {
  background-color: palegoldenrod;
  color: #770a1b;
  padding: 1.6rem;
  flex-grow: 1;
}
