.mat-dialog-title {
  margin: 0px;
}

.mat-dialog-actions {
  justify-content: center;
}

.mat-dialog-actions button {
  margin: 3.2rem 1.6rem 1.6rem 1.6rem;
}

.dialog-container {
  display: flex;
}

.dialog-icon {
  font-size: 300%;
  padding-right: 1.6rem;
}
