.container {
  width: 30%;
  min-width: 32rem;
  padding: 5rem;
  border-radius: 0.4rem;
  background: #f8f8f8;

  margin: 8% auto 0 auto;
}

h2 {
  margin: 0;
}

.right {
  float: right;
}

.sub-heading {
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
  color: rgba(0, 0, 0, 0.65);
}
