<loxam-loader></loxam-loader>

<loxam-toolbar></loxam-toolbar>

<div class="container">
  <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit(forgotPasswordForm)">
    <h2>{{ "Forgotten Password" | translate }}</h2>

    <div class="sub-heading">
      {{ "Please enter your email address." | translate }}
    </div>
    <loxam-form-error [errorMessage]="errorMessage"></loxam-form-error>

    <mat-form-field class="full-width margin-y">
      <input
        matInput
        type="email"
        placeholder="{{ 'Email' | translate }}"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
        [pattern]="pattern"
        maxlength="255"
      />
      <mat-error *ngIf="hasError(forgotPasswordForm, 'required')">{{
        "Email address is required" | translate
      }}</mat-error>
      <mat-error *ngIf="hasError(forgotPasswordForm, 'pattern')">{{
        "Email address is invalid" | translate
      }}</mat-error>
    </mat-form-field>

    <div class="form-buttons margin-y">
      <button
        mat-flat-button
        color="primary"
        [disabled]="disableSubmit(forgotPasswordForm)"
        class="margin-right"
        type="submit"
      >
        <span> {{ "Reset password" | translate }}</span>
      </button>

      <button mat-button class="right" [routerLink]="'/login'" type="button">
        {{ "Cancel" | translate }}
      </button>
    </div>
  </form>
</div>
