<loxam-loader></loxam-loader>

<loxam-toolbar></loxam-toolbar>

<div class="container centered">
  <form
    #resetPasswordForm="ngForm"
    (ngSubmit)="onSubmit(resetPasswordForm)"
    class="form"
    autocomplete="off"
  >
    <h2 *ngIf="mode !== 'setNewUserPassword'">
      {{ "Reset Password" | translate }}
    </h2>
    <h2 *ngIf="mode === 'setNewUserPassword'">
      {{ "Set Password for New Account" | translate }}
    </h2>

    <div class="padding-bottom">
      {{ "Please create a new password to login." | translate }}
    </div>
    <loxam-form-error [errorMessage]="errorMessage"></loxam-form-error>

    <div>{{ resetPassword.email }}</div>

    <loxam-password
      name="newPassword"
      class="margin-y"
      friendly-name="New password"
      placeholder="{{ 'New password' | translate }}"
      [(ngModel)]="resetPassword.newPassword"
      [showObscurityToggle]="true"
      [obscurred]="obscurred"
      (onObscurityChanged)="onObscurityChanged($event)"
    >
    </loxam-password>

    <loxam-password
      name="confirmPassword"
      class="margin-y"
      friendly-name="Confirmation password"
      placeholder="{{ 'Confirm new password' | translate }}"
      [(ngModel)]="resetPassword.confirmPassword"
      [showObscurityToggle]="true"
      [obscurred]="obscurred"
      (onObscurityChanged)="onObscurityChanged($event)"
    >
    </loxam-password>

    <div class="form-buttons margin-y padding-y">
      <button
        mat-flat-button
        type="submit"
        color="primary"
        [disabled]="disableSubmit(resetPasswordForm)"
        class="margin-right"
        type="submit"
      >
        {{ "Set Password" | translate }}
      </button>

      <button mat-button class="right" [routerLink]="'/login'" type="button">
        {{ "Cancel" | translate }}
      </button>
    </div>
  </form>
</div>
