<div>
  <mat-form-field class="full-width">
    <input
      matInput
      placeholder="{{ placeholder }}"
      id="{{ name }}"
      name="{{ name }}"
      [(ngModel)]="value"
      (change)="onChangeEvent($event)"
      (keyup)="onChangeEvent($event)"
      required
      minlength="6"
      [maxlength]="maxlength"
      [disabled]="disabled"
      [type]="getInputType()"
    />
    <mat-icon
      matSuffix
      *ngIf="showObscurityToggle"
      (click)="onPasswordObscurityClick()"
      class="pointer"
    >
      {{ getIconName() }}
    </mat-icon>
    <mat-error *ngIf="hasError('required')">
      {{ "&1 is required" | translate: { friendlyName: friendlyName } }}
    </mat-error>
    <mat-error *ngIf="hasError('minlength')">
      {{ "&1 is too short" | translate: { friendlyName: friendlyName } }}
    </mat-error>
  </mat-form-field>
</div>
